.app-container {
    min-height: 100vh;
    background-color: #191717;
}

.light-mode-app-container {
    background-color: #ffffff;;
}

.link-element {
    text-decoration: none;
    color: #ffffff;
}